/* 自定义样式 */
.home img:hover {
   transform: scale(1.15)!important;
   transition:all 2s !important;
}
.home img {
   transform: scale(0.95) !important;
   transition: all 2.5s!important;
}
@keyframes myfirst
{
from {opacity: 1;}
to {opacity: 0.1;transform: translateY(-110px);}
}

